<h1>Images used on the training</h1>
<button (click)="loadImage()">Load Images</button>
<neuroevolution-display-panel></neuroevolution-display-panel>

<button (click)="train()">Train</button>

<h1>Accuracy per class</h1>
<div *ngFor="let accuracy of accuracy_per_class; index as index" > {{classes_names[index]}}: {{accuracy}}%</div>



<h2>Confusion Matrix</h2>

<table>
    <tr>
        <th *ngFor="let label of classes_names">{{label}}</th>
    </tr>
    <tr *ngFor="let item of confusion_matrix ; index as i">
       <td *ngFor="let value of item ; index as j" > {{confusion_matrix[i][j]}}%</td> 
    </tr>
</table>
